%p
  %b User name:
  = @ticket.user_name
%p
  %b User email:
  = @ticket.user_email
%p
  %b Reference number:
  = @ticket.reference_number
%p
  %b Subject:
  = @ticket.subject
%p
  %b Body:
  = @ticket.body
%p
  %b Status:
  = @ticket.status
%p
  %b Department:
  = @ticket.department

= link_to 'view the history of ticket', ticket_history_path(@ticket)
%p
- if current_user
  = link_to 'Waiting for Staff Response', tickets_path(:status => 'Waiting for Staff Response')
  %p
    = label_tag 'Take responsibilty'
    = check_box_tag 'manager_id', 'yes', false, {:user_id => current_user.id, :ticket_id => @ticket.id}
  %p
    = label_tag 'Change status'
    = select_tag :select_status, options_for_select(Ticket::STATUSES), prompt: @ticket.status, :ticket_id => @ticket.id
  %p
    = label_tag 'Create new status for ticket'
    = text_field_tag :new_status, 'Enter new value for status'
  %h2
    Give answer to customer
    = form_for [@ticket, @ticket.replies.build] do |f|

      .field
        = f.label :body_of_responce
        = f.text_area :body, :cols => 70
        = f.hidden_field(:author_id, :value => current_user.id)
      .actions
        = f.submit 'Save'
