%p#notice= notice

%p
  %b User name:
  = @ticket.user_name
%p
  %b User email:
  = @ticket.user_email
%p
  %b Reference number:
  = @ticket.reference_number
%p
  %b Subject:
  = @ticket.subject
%p
  %b Body:
  = @ticket.body
%p
  %b Status:
  = @ticket.status
%p
  %b Department:
  = @ticket.department

= link_to 'view the history of ticket', ticket_history_path(@ticket)
%p
- if current_user
  = link_to 'Waiting for Staff Responce', tickets_path(:status => 'Waiting for Staff Responce')
%p
  = label_tag 'Take responsibilty'
  = check_box_tag 'manager_id', 'yes', false, {:user_id => current_user.id, :ticket_id => @ticket.id}